<section>
  <header class="p-4 bg-white">
    <nav class="md:flex md:justify-around md:items-center">
      <div class="flex justify-between items-center">
        <a href="/"><img src="/img/logo.webp" alt="logo" /></a>
        <div class="md:hidden">
          <svg
            id="bar"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 0 1 2.75 4h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75ZM2 10a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 10Zm0 5.25a.75.75 0 0 1 .75-.75h14.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>
      <div class="my-5 md:my-0 hidden md:block" id="a-links">
        <ul class="list-none md:inline-flex md:gap-5 inline-grid gap-2">
          <li>
            <a
              class="text-gray-600 uppercase text-xs hover:text-gray-900 transition ease-in duration-150 hover:font-bold"
              href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 uppercase text-xs hover:text-gray-900 transition ease-in duration-150 hover:font-bold"
              href="/about-us"
              >about</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 uppercase text-xs hover:text-gray-900 transition ease-in duration-150 hover:font-bold"
              href="/contact-us"
              >contact</a
            >
          </li>
        </ul>
      </div>
      <div class="md:block hidden" id="x-header">
        <div>
          <form action="/blog/search" method="get">
            <input
              class="px-2 py-1 border outline-none border-gray-300 rounded w-full"
              type="search"
              placeholder="Search your latest news here"
              name="postInput"
            />
          </form>
        </div>
      </div>
    </nav>
  </header>
</section>
