<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="bg-gray-200">
    <%- include("./partials/nav.ejs") %> <%-
    include("./partials/search-result.ejs") %> <%-
    include("./partials/footer.ejs") %>

    <script defer src="/script/script.js"></script>
  </body>
</html>
